@import url("http://fonts.cdnfonts.com/css/pokemon-solid");

$pokemon-font: "Pokemon Solid", sans-serif;

$cyan: #e6f4ff;
$black: #000000;
$white: #ffffff;
$salmon: #ff8177;
$light-yellow: #fffded;
$light-blue: #ceecf5;
